:root {
    --color-primary-200: #38CFD9;
    --color-primary-400: #136C72;
    --color-primary-600: #23424A;
    --color-primary-800: #072a2d;

    --color-accent-400: #87629A;

    --color-neutral-100: #fff;
    --color-neutral-200: #dde2e3;
    --color-neutral-700: #3A3A3A;

    --padding-block-l-vw: 10vw;
    --padding-inline-l-vw: 8.75vw;
    --padding-block-m-vw: 6.5vw;

    --padding-block-m: 4rem;
    --padding-inline-m: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.heading {
    margin-bottom: 2rem;
    font-size: 2.6rem;
    font-weight: 800;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.d-flex--col {
    flex-direction: column;
}

.hero {
    padding: var(--padding-block-l-vw) var(--padding-inline-l-vw);
    background-color: var(--color-primary-600);
    color: var(--color-neutral-100);
}

.hero__text {
    width: 60%;
    max-width: 850px;
}

.hero__img-wrapper {
    width: 35%;
}

.hero__img {
    width: 100%;
}

.title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 900;
}

.paragraph {
    font-size: 1.2rem;
    line-height: 1.5;
}

.hero__paragraph {
    margin-bottom: 4.5rem;
    color: var(--color-neutral-200);
}

.button {
    display: inline-block;
    border-radius: 100px;
    padding: 1.5rem 4rem;
    background-color: var(--color-primary-200);
    color: var(--color-primary-800);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.container.d-flex {
    padding: var(--padding-block-m) var(--padding-inline-l-vw)
}

.article {
    width: 60%;
    padding-block: var(--padding-block-m);
}

.article__heading {
    color: var(--color-primary-400);
}

.article__paragraph {
    color: var(--color-neutral-700);
}

.article__paragraph+.article__paragraph {
    margin-top: 2rem;
}

.sidebar {
    gap: 5rem;
    padding: var(--padding-block-m) var(--padding-inline-m);
    width: 35%;
    background-color: var(--color-primary-400);
    text-align: center;
    color: var(--color-neutral-100);
}

@media screen and (min-width: 700px) {
    .title {
        font-size: 3.625rem;
    }

    .paragraph {
        font-size: 1.6rem
    }

    .button {
        font-size: 1.625rem;
    }
}